MYSQL_USER=brandon
MYSQL_ROOT_PASSWORD=P4ssw0rd
MYSQL_PASSWORD=P4ssw0rd
MYSQL_DATABASE=49ers
JWT_SECRET=AppS3rcr3t
DATABASE_USERNAME=brandon
DATABASE_PASSWORD=P4ssw0rd
DATABASE=49ers
DATABASE_HOST=mysql
DATABASE_PORT=3306